<div class="spotlight">
  <div class="content">
    <header class="major">
      <a href="{{ .link }}"><h2>{{ .company }}</h2></a>
      <h3>{{ .time }} </h3>
    </header>
    <p>{{ .description | markdownify }}</p>
  </div>
  {{ if .image }}
  <div style="border-radius: 100%; border: 1px solid #AFAFAF ; width: 150px; height: 150px; background: url('{{ .image }}'); background-repeat: no-repeat; background-position: center; background-size: {{ .size }};"></div>
  {{ end }}
</div>
