
    <div class="spotlight">
        <div class="content">
        <header class="major">
            <h2>{{ .title }}</h2>
        </header>
        <p>{{ .description | markdownify }}</p>
        <ul class="actions">
            {{range $button := .action }}
            <li>
                <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
            </li>
            {{ end }}
        </ul>
        </div>
        {{ if .image }}
        <span class="image"><img src="{{ .image }}" alt="" /></span>
        {{ end }}
    </div>