<div class="spotlight">
  <div class="content">
    <header class="major">
      <h2>{{ .name }}</h2>
    </header>
    {{ if .demoHref }}
    <p><a href="{{ .demoHref }}" target="_blank" class="icon-button">
      <svg class="svg-smallicon" viewBox="0 0 24 24">
        <path fill="#4CAF50" d="M8 5v14l11-7z" />
      </svg>
      Run demo
    </a></p>
    {{ end }}
    {{ if .sourceCodeHref}}
    <p><a href="{{ .sourceCodeHref }}" target="_blank" class="icon-button">
      <svg width="24" height="24">
        <rect x="0" y="0" width="24" height="24" fill="none"/>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="18" fill="#4CAF50">&lt;/&gt;</text>
      </svg>
      
      
      Source code
    </a></p>
    {{ end }}
    <p>{{ .description | markdownify }}</p>
  </div>
  {{ if .image }}
  <div class="projects-image" style="background-image: url('{{ .image }}');"></div>
  {{ end }}
</div>