<nav id="nav">
  <ul>
    {{ range $nav := .Site.Params.navigation }}
    <li>
      <a href="{{ $nav.href }}" class="{{ if isset $nav "class" }}{{ $nav.class }} {{ end }}{{ if eq $nav.active true }}active{{ end }}" {{ if eq $nav.target true }}target="_blank"{{ end }}>
        {{ $nav.name | markdownify}}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>